.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

.scroll-top.visible {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}
